@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");


* {
    font-family: "Poppins", sans-serif;
    margin: 8px;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: none;
    transition: all 0.2s ease-out;
    text-decoration: none;
  }

:root {
  --green:#1c6117;
  --black:#444;
  --light-color:#777;
  --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
  --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
  --border:.2rem solid var(--green);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {font-family: Arial, Helvetica, sans-serif;
    background: none;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 65px;
  
  
    
  } 
  form{
    border: 2px solid #1c6117;
    background-color: #ffffff;
    border-radius: 1.5em;
  }
  
  
  input[type=date], input[type=Birthday] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
     border: 2px solid rgb(13, 9, 9);
    box-sizing: border-box;
  
  }
  input[type=text], input[type=password]{
    width: 100%;
    z-index: 500;
    border-radius: 0.85em;
    box-shadow: var(--box-shadow);
    border: var(--border);
    padding: 1.2rem;
    margin-bottom: 1em;
    size: right -1em;
    height: 3.4em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, auto));
    gap: 2rem;
     
  
  }
  
  h2{
    text-align: center;
    color: rgba(248, 245, 245, 0.989);
  }
  button {

    width: 100%;
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    border: var(--border);
    border-radius: 1.5em;
    box-shadow: var(--box-shadow);
    color: var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
    
  }
  
  button:hover{
    background: var(--green);
    color:#fff;
}

  

button:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.container.login_btn{
  width: 20%;
  scale: 21.5;
}
 
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #ffffff;
  }
  
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 60px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }