@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#1c6117;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22, 160, 133, .2);
    --text-shadow:.4rem .4rem 0 rgba(0, 0, 0, .2);
    --border:.2rem solid var(--green);
    
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: none;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
    background-color: rgb(77, 190, 96);
}

section:nth-child(even){
    background: #6ebf69;
}
.header{
    z-index: 10000;
    padding:0.002em 20%;

    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-left: -6em;
    margin-right: -22em;
    
   
}

.header .logo{
    margin-left: -12em;
    
    font-size: 2.5rem;
    color: var(--black);
    
}

.header img{
    scale: 2.2;
    position: relative;
    width: 10%;
    height: auto;
    margin-top: 1em;
    margin-right: 70em;
    margin-left: -15em;
    color: white;
  
}
.header.navbar{
    margin-right: 3em;
    position: relative;
    
}
.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
   
}

.header .navbar a:hover{
    color: rgb(17, 40, 75);
}

.header .search-container{
    background: rgb(185, 185, 185);
    color: #777;
    height: 3.7em;
    scale: 1.2;
    padding: 0.8em;

    
    border-radius: 0.4em;
    margin-left: -12em;
    margin-right: 14em;
    
}
.header .search-container .search{
   width: auto;
   margin-right: 0.2em;
   margin-left: 0em ;
    
}

.footer{

    background-color: #58f26f;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;
}


.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:var(--white-color);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: -2rem;
    color:rgb(25, 88, 25);
}

.footer .box-container .box a:hover i{
    padding-right:1.5rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color:rgb(99, 99, 99);
    border-top: .1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span{
    color:rgb(25, 88, 25);
}



/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: 1.5em;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}
.table{
    margin-left: 54em;
    margin-top: 4em;
    margin-bottom: 20em;
}


/* Slideshow container */
.slideshow-container {
  max-width: 750px;
  position: relative;
  margin: auto;
  height: 33em;
  z-index: 90;
  margin-top: 15em;
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}
.mySlides img{
    border-radius: 2.6em;
}
/* dots placement*/
.dots{
    position: relative;
    z-index: 100;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  margin-bottom: -1.5em;
  color: #052f3e;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.btn{
    display: inline-block;
    margin-top: 4rem;
    
    padding: .5rem;
    padding-top: 1em;
    padding-left: 2rem;
    padding-right: -1em;
    padding-bottom: 4em;
    border:var(--border);
    border-radius: 0.9em;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: 1.5em;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}
.content{
    margin-left: -31em;
    margin-right: 1.2em;
}
.tiles .content{
    display: grid;
    margin-bottom: 4em;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:2rem;

}
.tiles .content .t_txxt{
    margin-top: -0.2em;
    margin-left: -0.5em;
}
.tiles .content .t_text{
   
    scale: 0.89;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}